<div class="bck-img">
<div class="about-me">
    About Me
</div>
<div class="me">
    Hey, I'm Monu Meena, a CSE Sophomer in IIT Bombay. I am from Kota, Rajasthan
    <br>
    I love to do Photography, Oil Painting, play Badminton, Star-gazing and read about Stars.
    <br>
    My Academic Interest is towards Web Devlopment and I like to study Social Science 
    <br>
    in my free time though it's different subject from my stream but it's fun to learn 
    <br>
    about geography of Earth, how history was created. I am an Observant and Over-thinker Person,
    <br>
    Likes to enjoy Everyday of Life. Loves my Family and Friends most.
    <br>
    My motivation for this POR is solely based on my interset towards Web-devlopment and to learn
    <br>
    more frameworks. 
    <div class="contact-me">
         Contact Me-
        <br>
        Phone Number : 9462151069
        <br>
        Email Id : monumeena2002@gmail.com
     </div>
</div>

</div>

    
  
