<div class="bck-img">
<div class="about-me">
    About Me
</div>
<div class="me">
    Hey, I'm Monu Meena, a CSE Sophomer in IIT Bombay. I am from Kota, Rajasthan
    <br>
    I love to do Photography, Oil Painting, play Badminton, Star-gazing and read about Stars.
    <br>
    My Academic Interest is towards Web Devlopment, I was introduced to web devlopment using a core course,
    <br>
    then i started exploring it more, worked on different frameworks.
    <br>
     I like to study Social Science in my free time though it's different subject from my stream
    <br>
      but it's fun to learn about geography of Earth, how history was created.
    <br>
     I am an Observant and Over-thinker Person, Likes to enjoy Everyday of Life.
    <br>
     Loves my Family and Friends most.
    <div class="contact-me">
         Contact Me-
        <br>
        Phone Number : 9462151069
        <br>
        Email Id : monumeena2002@gmail.com
     </div>
</div>

</div>

    
  
